Source: libglvnd
Priority: extra
Maintainer: Timo Aaltonen <tjaalton@ubuntu.com>
Build-Depends:
 debhelper (>= 9),
 dh-autoreconf,
 pkg-config,
 libx11-dev,
 libxext-dev,
 xserver-xorg-dev,
 python-dev,
 python-libxml2,
 libatomic-ops-dev,
Standards-Version: 3.9.4
Section: libs
Homepage: <insert the upstream URL, if relevant>
Vcs-Git: git://git.debian.org/pkg-xorg/lib/libglvnd.git
Vcs-Browser: http://git.debian.org/?p=pkg-xorg/lib/libglvnd.git;a=summary

Package: libglvnd-dev
Section: libdevel
Architecture: any
Depends: libglvnd0 (= ${binary:Version})
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: libglvnd0
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends},
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: <insert up to 60 chars description>
 This is an implementation of the vendor-neutral dispatch layer for
 arbitrating OpenGL API calls between multiple vendors on a per-screen basis.

